.WorkDetail {
    padding-top: 7rem;
}

.works-year-detail {
    background: #ff6464;
}

.works-item-detail {
    border-bottom: 0px;
    margin-bottom: 0px;
    
}


.detail-content{
   img{
       width: 100%;
   }
        p {
        font-size: 18px;
        line-height: 23/16 *100%;
        padding: 15px 0px;
    }

    h1, h2, img {
        padding-top: 15px;
    }
     
}
